<div class="container">
<u><h3>以下の内容で、送信する。</h3></u>

<div class="col-xs-12 col-md-6 event-panel event-box">
<%= form_with(model: @event, url: events_path, local: true) do |form| %>
  <%= form.hidden_field :spot_name %>
  <%= form.hidden_field :start_date %>
  <%= form.hidden_field :end_date %>
  <%= form.hidden_field :method %>
  <%= form.hidden_field :target %>
  <%= form.hidden_field :tackle %>
  <%= form.hidden_field :bait %>
  <%= form.hidden_field :description %>
  
  <%= form.fields_for :event_option, @event.event_option || EventOption.new do |event_option_form| %>
    <%= event_option_form.hidden_field :weather %>
    <%= event_option_form.hidden_field :tide %>
    <%= event_option_form.hidden_field :max_temperature %>
    <%= event_option_form.hidden_field :min_temperature %>
    <%= event_option_form.hidden_field :wind_speed %>
    <%= event_option_form.hidden_field :wind_direction %>
    <%= event_option_form.hidden_field :wave_height %>
    <%= event_option_form.hidden_field :first_low_tide %>
    <%= event_option_form.hidden_field :first_high_tide %>
    <%= event_option_form.hidden_field :second_low_tide %>
    <%= event_option_form.hidden_field :second_high_tide %>
  <% end %>
  
  <p>釣り場所：<%= @event.spot_name %></p>
  <p>開始日：<%= @event.start_date.strftime("%Y-%m-%d")  %></p>
  <% unless @event.end_date.blank? %>
    <p>終了日：<%= @event.end_date.strftime("%Y-%m-%d") %></p>
  <% else %>
    <p>終了日：<%= @event.end_date %></p>
  <% end %>
  <p>釣り方：<%= @event.method %></p>
  <p>狙う魚：<%= @event.target %></p>
  <p>タックル：<%= @event.tackle %></p>
  <p>餌：<%= @event.bait %></p>
  <p>説明：<%= @event.description %></p>
  
  <p>天気：<%= @event.event_option.weather %></p>
  <p>潮：<%= @event.event_option.tide %></p>
  <p>最高気温：<%= @event.event_option.max_temperature %></p>
  <p>最低気温：<%= @event.event_option.min_temperature %></p>
  <p>風速：<%= @event.event_option.wind_speed %></p>
  <p>風向き：<%= @event.event_option.wind_direction %></p>
  <p>波の高さ：<%= @event.event_option.wave_height %></p>
  <p>干潮時刻１：<%= @event.event_option.first_low_tide %></p>
  <p>満潮時刻１：<%= @event.event_option.first_high_tide %></p>
  <p>干潮時刻２：<%= @event.event_option.second_low_tide %></p>
  <p>満潮時刻２：<%= @event.event_option.second_high_tide %></p>
 
  <%= form.submit  "登録" %>
<% end %>

<%= form_with(model: @event, url: new_event_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :spot_name %>
  <%= form.hidden_field :start_date %>
  <%= form.hidden_field :end_date %>
  <%= form.hidden_field :method %>
  <%= form.hidden_field :target %>
  <%= form.hidden_field :tackle %>
  <%= form.hidden_field :bait %>
  <%= form.hidden_field :description %>
  
  <%= form.fields_for :event_option, @event.event_option || EventOption.new do |event_option_form| %>
    <%= event_option_form.hidden_field :weather %>
    <%= event_option_form.hidden_field :tide %>
    <%= event_option_form.hidden_field :max_temperature %>
    <%= event_option_form.hidden_field :min_temperature %>
    <%= event_option_form.hidden_field :wind_speed %>
    <%= event_option_form.hidden_field :wind_direction %>
    <%= event_option_form.hidden_field :wave_height %>
    <%= event_option_form.hidden_field :first_low_tide %>
    <%= event_option_form.hidden_field :first_high_tide %>
    <%= event_option_form.hidden_field :second_low_tide %>
    <%= event_option_form.hidden_field :second_high_tide %>
  <% end %>
  <%= form.submit "もどる", name: 'back' %>
<% end %>
</div>
</div>