<div class="container">
  <u><h2>釣り日記の一覧</h2></u>
  <div id="new-event-link" class="new-event-box">
    <%= link_to '新規釣り日記を作成する', new_event_path %>
  </div>
  
  <div id="new-event-link" class="search-event-box">
    <%= form_tag(events_path, method: :get) do %> 
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "日記の検索", :name => nil %>
      </p>
    <% end %>
  </div>

  <% @events.each do |event| %>
    <div class="col-xs-12 col-md-6 event-panel event-box">
      <div class="event-panel">
        <p>釣り場所：<%= event.spot_name %></p>
        <p>開始日：<%= event.start_date.strftime("%Y-%m-%d") %></p>
        <% unless event.end_date.blank? %>
          <p>終了日：<%= event.end_date.strftime("%Y-%m-%d") %></p>
        <% else %>
          <p>終了日：<%= event.end_date %></p>
        <% end %>
        <p>釣り方：<%= event.method %></p>
        <p>狙う魚：<%= event.target %></p>
        <p>タックル：<%= event.tackle %></p>
        <p>餌：<%= event.bait %></p>
        <p>感想：<%= event.description %></p>

        <div class="event-links" data-no-turbolink>
          <% if logged_in? %>
            <%= link_to '詳細', event, class: 'btn btn-default' %>
            <%= link_to '釣果', caught_fishes_path(event), class: 'btn btn-default'  %>
            <% if event.user_id == current_user.id %>
              <%= link_to '編集', edit_event_path(event), class: 'btn btn-info' %> |
              <%= link_to '削除', event, method: :delete, data: { confirm: '本当に削除しますか?' }, class: 'btn btn-danger' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>