<div class="container">
  <u><h2>釣り日記詳細</h2></u>

  <div class="col-xs-12 col-md-6 event-panel event-box">
    <p>作成者： <%= @event.user.name %></p>

    <p>釣り場所：<%= @event.spot_name %></p>
    <p>開始日：<%= @event.start_date.strftime("%Y-%m-%d") %></p>
    <p>終了日：<%= @event.end_date.strftime("%Y-%m-%d") %></p>
    <p>釣り方：<%= @event.method %></p>
    <p>狙う魚：<%= @event.target %></p>
    <p>タックル：<%= @event.tackle %></p>
    <p>餌：<%= @event.bait %></p>
    <p>説明：<%= @event.description %></p>
  
    <p>天気：<%= @event.event_option.weather %></p>
    <p>潮：<%= @event.event_option.tide %></p>
    <p>最高気温：<%= @event.event_option.max_temperature %></p>
    <p>最低気温：<%= @event.event_option.min_temperature %></p>
    <p>風速：<%= @event.event_option.wind_speed %></p>
    <p>風向き：<%= @event.event_option.wind_direction %></p>
    <p>波の高さ：<%= @event.event_option.wave_height %></p>
    <p>干潮時刻１：<%= @event.event_option.first_low_tide %></p>
    <p>満潮時刻１：<%= @event.event_option.first_high_tide %></p>
    <p>干潮時刻２：<%= @event.event_option.second_low_tide %></p>
    <p>満潮時刻２：<%= @event.event_option.second_high_tide %></p>

    <%= link_to '釣り日記一覧画面にもどる', events_path, class: 'btn btn-primary' %>


    <% if @event.user_id == @current_user.id %>
      <%= link_to "釣り日記を編集する", edit_event_path(@event.id), class: 'btn btn-primary' %>
    <% else %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(event_id: @event.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>